@media (min-width: 768px) {
  #carouselPrincipal {
    height: 400px;
    overflow: hidden;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 35px
}
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 12px; 
    
}

  .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
    height: 100%; /* Faz a imagem ocupar toda a altura */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner */
  }
  
  @media (max-width: 768px) {
    
    #carouselPrincipal {
      height: 200px;
      overflow: hidden;
      width: 80%;
      margin-top: 10px;
      margin-left: 10%;
      margin-right: 10%;
      
  }

  }
  