@media (min-width: 768px) {
  #carouselPrincipal {
    height: 400px;
    overflow: hidden;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 35px;
    border-radius: 20px;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 50)); /* Sombra ao redor do carrossel */
}
.carousel-item {
  height: 400px;
}

/* Criando o efeito degradê */
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 20px; /* Opcional: pode arredondar o efeito conforme a borda do carrossel */
  z-index: 1; /* Para garantir que o gradiente fique acima da imagem */
}
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 12px; 
    
}

 
  
  .carousel-item img {
    height: 100%; /* Faz a imagem ocupar toda a altura */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner */
  }
  
  @media (max-width: 768px) {
    
    #carouselPrincipal {
      height: 200px;
      overflow: hidden;
      width: 80%;
      margin-top: 10px;
      margin-left: 10%;
      margin-right: 10%;
      border-radius: 15px; /* Ajuste de borda para dispositivos menores */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dispositivos menores */
  }
  
  }