.container{
    padding-top: 25px
}
table img{
    width: 150px;   
    height: auto;   
}
h1{
    padding-bottom: 25px;
}

#colunaimagem , #colunanome, #colunaplataforma, #colunapreco{
    width: 150px; /* Define uma largura menor */
    text-align: center;
    vertical-align: middle ;
}
#colunaquantidade,#colunaquantidade2,#colunaexcluir {
    width: 60px;
    vertical-align: middle ;
}

#carrinho-vazio {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
  }

#valortotal{
    width: 250px;
    margin: auto;

}
#botaopagamento{
  font-size: 20px;
}

.pagamento{
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

  /* Oculta coluna*/
@media (max-width: 650px) {
    #colunafoto, #colunaimagem{
      display: none; /* Esconde a colunas imagem  para funcionar em celular*/
    }
  }
  
  
  